appdirs
asgiref
black
click
Django
django-environ
django-filter
django-leaflet
djangorestframework
djangorestframework-gis
flake8
mccabe
mypy-extensions
pathspec
psycopg2-binary
pycodestyle
pyflakes
pytz
regex
sqlparse
toml
typed-ast
typing-extensions
